<pngx-page-header title="Settings" i18n-title>
  <button class="btn btn-sm btn-outline-primary" (click)="tourService.start()">
    <svg class="sidebaricon" fill="currentColor">
      <use xlink:href="assets/bootstrap-icons.svg#airplane"/>
    </svg>&nbsp;<ng-container i18n>Star tour </ng-container>
  </button>
  
</pngx-page-header>

<form [formGroup]="settingsForm" >

  <ul ngbNav #nav="ngbNav" (navChange)="onNavChange($event)" [(activeId)]="activeNavID" class="nav-tabs">
    <li [ngbNavItem]="SettingsNavIDs.General">
      <a ngbNavLink i18n>General</a>
      <ng-template ngbNavContent>

        <h4 i18n>Appearance</h4>

        <div class="row mb-3">
          <div class="col-md-3 col-form-label pt-0">
            <span i18n>Display language</span>
          </div>
          <div class="col">

            <select class="form-select" formControlName="displayLanguage">
              <option *ngFor="let lang of displayLanguageOptions" [ngValue]="lang.code">{{lang.name}}<span *ngIf="lang.code && currentLocale !== 'en-US'"> - {{lang.englishName}}</span></option>
            </select>

            <small *ngIf="displayLanguageIsDirty" class="form-text text-primary" i18n>You need to reload the page after applying a new language.</small>

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3 col-form-label pt-0">
            <span i18n>Date display</span>
          </div>
          <div class="col">

            <select class="form-select" formControlName="dateLocale">
              <option *ngFor="let lang of dateLocaleOptions" [ngValue]="lang.code">{{lang.name}}<span *ngIf="lang.code"> - {{today | customDate:'shortDate':null:lang.code}}</span></option>
            </select>

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3 col-form-label pt-0">
            <span i18n>Date format</span>
          </div>
          <div class="col">

            <div class="form-check">
              <input type="radio" id="dateFormatShort" name="dateFormat" class="form-check-input" formControlName="dateFormat" value="shortDate">
              <label class="form-check-label" for="dateFormatShort" i18n>Short: {{today | customDate:'shortDate':null:computedDateLocale}}</label>
            </div>
            <div class="form-check">
              <input type="radio" id="dateFormatMedium" name="dateFormat" class="form-check-input" formControlName="dateFormat" value="mediumDate">
              <label class="form-check-label" for="dateFormatMedium" i18n>Medium: {{today | customDate:'mediumDate':null:computedDateLocale}}</label>
            </div>
            <div class="form-check">
              <input type="radio" id="dateFormatLong" name="dateFormat" class="form-check-input" formControlName="dateFormat" value="longDate">
              <label class="form-check-label" for="dateFormatLong" i18n>Long: {{today | customDate:'longDate':null:computedDateLocale}}</label>
            </div>

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3 col-form-label pt-0">
            <span i18n>Items per page</span>
          </div>
          <div class="col">

            <select class="form-select" formControlName="documentListItemPerPage">
              <option [ngValue]="10">10</option>
              <option [ngValue]="25">25</option>
              <option [ngValue]="50">50</option>
              <option [ngValue]="100">100</option>
            </select>

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3 col-form-label pt-0">
            <span i18n>Document editor</span>
          </div>
          <div class="col">

            <pngx-input-check i18n-title title="Use PDF viewer provided by the browser" i18n-hint hint="This is usually faster for displaying large PDF documents, but it might not work on some browsers." formControlName="useNativePdfViewer"></pngx-input-check>

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3 col-form-label pt-0">
            <span i18n>Sidebar</span>
          </div>
          <div class="col">

            <pngx-input-check i18n-title title="Use 'slim' sidebar (icons only)" formControlName="slimSidebarEnabled"></pngx-input-check>

          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-3 col-form-label pt-0">
            <span i18n>Dark mode</span>
          </div>
          <div class="col">
            <pngx-input-check i18n-title title="Use system settings" formControlName="darkModeUseSystem"></pngx-input-check>
            <pngx-input-check [hidden]="settingsForm.value.darkModeUseSystem" i18n-title title="Enable dark mode" formControlName="darkModeEnabled"></pngx-input-check>
            <pngx-input-check i18n-title title="Invert thumbnails in dark mode" formControlName="darkModeInvertThumbs"></pngx-input-check>
          </div>
        </div>

      

        <h4 class="mt-4" i18n>Notes</h4>

        <div class="row mb-3">
          <div class="offset-md-3 col">
            <pngx-input-check i18n-title title="Enable notes" formControlName="notesEnabled"></pngx-input-check>
          </div>
        </div>

      </ng-template>
    </li>

 

  
  </ul>

  <div [ngbNavOutlet]="nav" class="border-start border-end border-bottom p-3 mb-3 shadow-sm"></div>
<!-- *pngxIfPermissions="{ action: PermissionAction.Change, type: PermissionType.UISettings }" -->
  <button type="submit" class="btn btn-primary mb-2"  [disabled]="(isDirty$ | async) === false" i18n>Save</button>
</form>
